<div class="screen-wrapper ion-padding">
  <div class="notice">
    <span><i class="pi pi-info-circle"></i> Your trash should be here for 60 days</span>
  </div>
  <div class="btn-wrap">
    <button class="btn"  [ngClass]="{'active': selectedDataSet === 'deletedEventMembers'}" (click)="showDeletedEventMembers()">Event Members</button>
    <button class="btn"  [ngClass]="{'active': selectedDataSet === 'deletedEvents'}" (click)="showDeletedEvents()">Events</button>
    <button class="btn"  [ngClass]="{'active': selectedDataSet === 'deletedUsers'}" (click)="showDeletedUsers()">Users</button>
  </div>
  <ion-content class="content-wrap" *ngIf="selectedDataSet === 'deletedEventMembers'">
    <div class="card-list">
      <ion-card *ngFor="let data of deletedEventMembers">
        <ion-card-header>
          <ion-card-title>{{ data.memberName }}</ion-card-title>
          <ion-card-subtitle><i class="pi pi-map-marker"></i>  {{ data.memberPlace }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{ data.amount | currency:'INR':'symbol':'1.2-2' }}
          <i class="pi pi-undo" (click)="forEventMembers(true, data.id)"></i>
        </ion-card-content>
      </ion-card>
      <div *ngIf="noMembersData" class="noData">
        <img src="../../../assets/animation.gif" alt="">
        <span>No Event Members</span>
      </div>
    </div>
  </ion-content>
  <ion-content class="content-wrap" *ngIf="selectedDataSet === 'deletedEvents'">
    <div class="card-list">
      <ion-card *ngFor="let data of deletedEvents">
        <ion-card-header>
          <ion-card-title>{{ data.eventName }}</ion-card-title>
          <ion-card-subtitle><i class="pi pi-map-marker"></i> {{ data.eventPlace }}</ion-card-subtitle>
        </ion-card-header>
        <div class="remaing">
          <ion-icon name="information-circle-outline"></ion-icon>
          <span>{{data.remainingDays}} days remaing</span>
        </div>
        <ion-card-content>
          {{ data.eventTotalAmount | currency:'INR':'symbol':'1.2-2' || '-'}}
          <i class="pi pi-undo" (click)="forEvents(true, data.id)"></i>
        </ion-card-content>
      </ion-card>
      <div *ngIf="noEventsData" class="noData">
        <img src="../../../assets/animation.gif" alt="">
        <span>No Events</span>
      </div>
    </div>
  </ion-content>
  <ion-content class="content-wrap" *ngIf="selectedDataSet === 'deletedUsers'">
    <div class="card-list">
      <ion-card *ngFor="let data of deletedUsers">
        <ion-card-header>
          <ion-card-title>{{ data.userName }}</ion-card-title>
          <ion-card-subtitle><i class="pi pi-user"></i>  {{ data.roleName }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div>
            <i class="pi pi-phone"></i>  {{ data.mobileNumber}}
          </div>
          <i class="pi pi-undo" (click)="forUsers(true, data.id)"></i>
        </ion-card-content>
      </ion-card>
      <div *ngIf="noUsersData" class="noData">
        <img src="../../../assets/animation.gif" alt="">
        <span>No Users</span>
      </div>
    </div>
  </ion-content>
</div>

<ion-alert
  [isOpen]="isAlertEventMemberOpen"
  header="Restore Event Member"
  subHeader="It will restore this event member"
  message="Are you sure want to restore"
  [buttons]="eventMemberBtn"
  (didDismiss)="forEventMembers(false,evenMemberId)"
></ion-alert>

<ion-alert
  [isOpen]="isAlertEventOpen"
  header="Restore Event"
  subHeader="It will restore this event"
  message="Are you sure want to restore"
  [buttons]="eventBtn"
  (didDismiss)="forEvents(false,eventId)"
></ion-alert>

<ion-alert
  [isOpen]="isAlertUserOpen"
  header="Restore User"
  subHeader="It will restore this user"
  message="Are you sure want to restore"
  [buttons]="userBtn"
  (didDismiss)="forUsers(false,userId)"
></ion-alert>