<div class="screen-wrapper ion-padding">
  <ion-content class="content-wrap">
    <div class="btn-wrap">
      <button class="btn" id="open-user-modal"><i class="pi pi-plus"></i> Add User</button>
    </div>
    <div class="card-list">
      <ion-card *ngFor="let user of users">
        <ion-card-header>
          <ion-card-title>{{ user.userName }}</ion-card-title>
          <ion-card-subtitle><i class="pi pi-user"></i>  {{ user.roleName }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <i class="pi pi-phone"></i>  {{ user.mobileNumber}}
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</div>

<ion-modal trigger="open-user-modal" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Add User</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-input label="Enter Name" labelPlacement="stacked" type="text" placeholder="Name" [(ngModel)]="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="label">Select Role</ion-label>
        <ion-radio-group [(ngModel)]="role">
          <ion-item>
            <ion-radio value="1">
              <ion-label>User</ion-label>
            </ion-radio>
          </ion-item>
          <ion-item>
            <ion-radio value="2">
              <ion-label>Admin</ion-label>
            </ion-radio>
          </ion-item>
          <!-- Add more roles as needed -->
        </ion-radio-group>
      </ion-item>
      <ion-item>
        <ion-input label="Enter Mobile" labelPlacement="stacked" type="text" placeholder="Mobile Number" [(ngModel)]="mobileNumber"></ion-input>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>