ion-radio-group{
    display: flex;
    ion-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        ion-radio{
            font-size: 14px;  
            padding: 0; 
        }
    }
}
ion-label.label{
    font-size: 0.80rem;
}  

ion-card-content{
    display: flex;
    gap: 5px;
    align-items: center;
    i{
        font-size: 11px;
    }
}

ion-card{
    align-items: flex-end;
}