<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder | titlecase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-page">
  <div id="container">
    <ng-container *ngIf="folder === 'home'">
      <app-home></app-home>
    </ng-container>
    <ng-container *ngIf="folder === 'dashboard'">
      <app-dashboard></app-dashboard>
    </ng-container>
    <ng-container *ngIf="folder === 'masters'">
      <app-masters></app-masters>
    </ng-container>
    <ng-container *ngIf="folder === 'event'">
      <app-event></app-event>
    </ng-container>
  </div>
</ion-content>
