<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >{{ folder | titlecase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ng-container *ngIf="folder === 'All Events'">
      <app-home></app-home>
    </ng-container>
    <ng-container *ngIf="folder === 'dashboard'">
      <app-dashboard></app-dashboard>
    </ng-container>
    <ng-container *ngIf="folder === 'masters'">
      <app-masters></app-masters>
    </ng-container>
    <ng-container *ngIf="folder === 'trash'">
      <app-trash></app-trash>
    </ng-container>
    <ng-container *ngIf="showEventPage">
      <app-event></app-event>
    </ng-container>
</ion-content>
