.content-wrap{
    .input-contents{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin-top: 20px;
        .input-field{
            display: flex;
            flex-direction: column;
            width: 95%;
            label{
                font-size: 13px;
            }
            input{
                margin-top: 5px;
                height: 32px;
                border-radius: 4px;
                &:focus{
                   box-shadow: none;
                }
            }
            .text-danger-wrap{
                position: relative;
                .text-danger {
                    position: absolute;
                    color: red; 
                    font-size: 12px;
                    margin-top: 5px;
                }
            }
        }
    }
    .btn-wrap{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .btn{
            width: 50%;
        }
    }
}