.dashboard-title{
    display: flex;
    justify-content: space-between;
    .total-count{
        display: flex;
        flex-direction: column;
        background-color: #CDFADB;
        padding: 8px 12px;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 500;
    }
}
.count-box-wrap{
    display: flex;
    gap: 20px;
    .level-count{
        width: 100%;
        .level-count-wrap{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .box{
                display: flex;
                flex-direction: column;
                padding: 8px 12px;
                border-radius: 6px;
                .count-name{
                    font-size: 14px;
                }
                .count-number{
                    font-size: 18px;
                }
            }
            .box-cust{
                display: flex;
                justify-content: space-between;
                padding: 8px 12px;
                border-radius: 6px;
                .box-left{
                    display: flex;
                    flex-direction: column;
                }
                .count-name{
                    font-size: 18px;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    .pi{
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

.green-box{
    background-color: rgb(203, 247, 140);
}

.orange-box{
    background-color: rgb(255, 214, 167);
}

.violet-box{
    background-color: rgb(210, 182, 255);
}