<div class="event-wrap ion-padding">
  <ion-content class="content-wrap">
    <div class="member-btn-wrap">
      <button class="member-btn" (click)="navigateToEvents()"><i class="pi pi-back"></i>Back</button>
      <button class="member-btn" (click)="navigateToAddMember()"><i class="pi pi-plus"></i> Add Member</button>
    </div>
    <div class="members-list">
      <ion-card *ngFor="let member of members">
        <ion-card-header>
          <ion-card-title>{{ member.name }}</ion-card-title>
          <ion-card-subtitle><i class="pi pi-map-marker"></i> {{ member.place }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{ member.amount | currency:'INR':'symbol':'1.2-2' }}
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</div>