<div class="screen-wrapper ion-padding">
  <ion-content class="content-wrap">
    <ion-searchbar (ionInput)="filterItems($event,eventId)"></ion-searchbar>
    <div class="btn-wrap">
      <button class="btn" (click)="navigateToEvents()"><i class="pi pi-angle-left"></i>Back</button>
      <button class="btn" (click)="openModal()"><i class="pi pi-plus"></i>Add Member</button>
      <button class="btn" (click)="setOpen(true)"><i class="pi pi-trash"></i></button>
    </div>
    <div class="card-list">
      <ion-card *ngFor="let member of members" (click)="openCard(member.id, member.eventId)">
        <ion-card-header>
          <ion-card-title>{{ member.memberName }}</ion-card-title>
          <ion-card-subtitle><i class="pi pi-map-marker"></i> {{ member.memberPlace }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{ member.amount | currency:'INR':'symbol':'1.2-2' }}
        </ion-card-content>
      </ion-card>
      <div *ngIf="showNoData" class="noData">
        <img src="../../../assets/moi-no-data.avif" alt="">
      </div>
    </div>
  </ion-content>
</div>

<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="showAddBtn">
          <ion-button (click)="addMembers('top')" [strong]="true">Add</ion-button>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="showUpdateBtn">
          <ion-button (click)="updateMember(memberId, 'top')" [strong]="true">update</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-title *ngIf="showAddBtn">Add Member</ion-title>
      <ion-title *ngIf="showUpdateBtn">Update Member</ion-title>
      <div class="form-style">
        <form [formGroup]="memberForm">
          <ion-item>
            <ion-input label="Enter Place" labelPlacement="stacked" type="text" placeholder="Place" formControlName="memberPlace"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Enter Name" labelPlacement="stacked" type="text" placeholder="Name" formControlName="memberName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Enter Sur Name" labelPlacement="stacked" type="text" placeholder="Sur Name" formControlName="memberSurName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Enter Amount" labelPlacement="stacked" type="text" placeholder="Amount" formControlName="amount"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Enter Mobile Number" labelPlacement="stacked" type="text" placeholder="Mobile Number" formControlName="mobileNumber"></ion-input>
          </ion-item>
        </form>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-alert
  [isOpen]="isAlertOpen"
  header="Remove Event"
  subHeader="It will move this event to trash"
  message="Are you sure want to remove"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"
></ion-alert>