<div class="home-wrapper ion-padding">
  <ion-content class="content-wrap">
    <div class="event-btn-wrap">
      <button class="event-btn"><i class="pi pi-plus"></i> Add Event</button>
    </div>
    <div class="events-list">
      <ion-card *ngFor="let event of events" (click)="navigateToAddEvent(event.id)">
        <ion-card-header>
          <ion-card-title>{{ event.name }}</ion-card-title>
          <ion-card-subtitle><i class="pi pi-map-marker"></i> {{ event.place }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{ event.totalAmount | currency:'INR':'symbol':'1.2-2' }}
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</div>