ion-modal {
    background: #000;
}

.overlay{
    display: flex;
    flex-direction: column;
    gap: 10px;
    i{
        display: flex;
        gap: 5px;
    }
}

.btn-wrap{
    padding-bottom: 0;
}
