<div class="screen-wrapper ion-padding">
  <ion-content class="content-wrap">
    <div *ngIf="!showNoData" class="header-content">
      <ion-searchbar (ionInput)="filterItems($event)"></ion-searchbar>
      <div class="btn-wrap">
        <button class="btn" (click)="openModal()"><i class="pi pi-plus"></i></button>
        <button class="btn" (click)="op.toggle($event)"><i class="pi pi-ellipsis-v"></i></button>
        <p-overlayPanel #op styleClass="overlayPanel">
          <div class="overlay">
            <i class="pi pi-share-alt">Share</i>
            <i class="pi pi-download" (click)="downloadAsPDF()">Download</i>
          </div>
        </p-overlayPanel>
      </div>
    </div>
    <div class="card-list">
      <ion-card *ngFor="let event of events" (click)="navigateToEvent(event.id, event.eventName)">
        <ion-card-header>
          <ion-card-title>{{ event.eventName }}</ion-card-title>
          <ion-card-subtitle><i class="pi pi-map-marker"></i> {{ event.eventPlace }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{ event.eventTotalAmount | currency:'INR':'symbol':'1.2-2' }}
        </ion-card-content>
      </ion-card>
      <div *ngIf="showNoData" class="noData btn-wrap">
        <button class="btn" (click)="openModal()"><i class="pi pi-plus"></i>Add New Event</button>
        <img src="../../../assets/animation.gif" alt="">
      </div>
    </div>
  </ion-content>
</div>

<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="confirm('top')" [strong]="true">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-title>Add Event</ion-title>
      <form [formGroup]="eventForm">
        <ion-item>
          <ion-input label="Enter Event Place" labelPlacement="stacked" type="text" placeholder="Place" formControlName="eventPlace"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Enter Event Name" labelPlacement="stacked" type="text" placeholder="Event" formControlName="eventName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-select label="Select Amount Collector" formControlName="amountCollector">
            <ion-select-option *ngFor="let collector of collectors" [value]="collector.id">{{ collector.userName }}</ion-select-option>
          </ion-select>
        </ion-item>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>

