ion-modal {
    background: #000;
}

.overlay{
    display: flex;
    flex-direction: column;
    gap: 10px;
    i{
        display: flex;
        gap: 5px;
    }
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    .btn-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }
}