/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";
@import "primeicons/primeicons.css";


@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

CSS layer
.ion-valid.sc-ion-input-md-h {
    --highlight-color: #333;
}
.sc-ion-input-md-h {
    font-size: 14px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: unset;
    margin: 0;
}

.btn.active {
    background-color: #fff !important; 
    color:#240A34 !important; 
    border:0.5px solid #240A34 !important;
}

.screen-wrapper {
    background-color: #FFEDD8 !important;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  .screen-wrapper {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  .screen-wrapper::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }

.screen-wrapper{
    height: 92vh;
    .content-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100% !important;
        .card-list{
            padding: 0 2px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-top: 10px;
            ion-card-content{
                font-size: 16px;
                color: #000;
                font-weight: 700;
                // display: flex;
                // flex-direction: column;
                // justify-content: space-between;
                // .edit{
                //     display: flex;
                //     justify-content: flex-end;
                //     gap: 5px;
                //     i{
                //         font-size: 11px;
                //         cursor: pointer;
                //     }
                // }
            }
        }
    }
}

.inner-scroll .scroll-y::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}

ion-card{
    display: flex;
    background-color:#fff;
    // background-image: linear-gradient(to right, #F39F5A, #FF6B6B);
    align-items: center;
    justify-content: space-between;
    margin: 0;
    border: 1px solid #240A34;
}

ion-card-header{
    text-align: left;
    ion-card-title{
        color: #333333;
    }
}

ion-card-content{
    font-size: 16px;
    color: #000;
    font-weight: 700;
}

ion-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    --background: #FFEDD8 !important;
    ion-title{
        color: #240A34;
        font-weight: 500;
        padding: 0;
        font-size: 14px;
        padding-bottom: 10px;
        .form-style{
            border: 1px solid #240A34;
        }
    }
}

.noData{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    span{
        margin-top: 20px;
        text-align: center;
        font-size: 18px;
        color: #000;
        font-weight: 500;
    }
}

.p-overlaypanel.overlayPanel .p-overlaypanel-content {
    padding: 8px 12px;
}

.btn-wrap{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
    .btn{
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border-radius: 10px;
        height: 38px;
        background-color: #240A34;
        color: #fff;
        font-weight: 700;
        padding: 8px 12px;
        margin:5px;
        border: 0.5px solid #240A34;
    }
}

ion-toolbar{
    --background: #891652 !important;
    ion-title{
        color: #fff !important;
    }
    ion-menu-button{
        color: #fff !important;
    }
}

.header-content, .card-list{
    background-color: #FFEDD8 !important;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    .btn-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }
}

.sc-ion-buttons-md-s ion-button:not(.button-round) {
    --border-radius: 2px;
    color: #fff;
}

ion-toast {
    --background: #FFEDD8; /* Background color */
    --color: #240A34; /* Text color */
    --padding: 16px; /* Padding */
    font-size: 14px; /* Font size */
    --border-radius: 4px;
}

.toast-layout-baseline .toast-content{
    --border: 1px solid #240A34 !important;
}